#app
= javascript_pack_tag 'staff'

= content_tag :div, id: 'staff-images',
        data: {\
           main: image_url(@info,'main_image'),\
           about: image_url(@info,'about_image'),\
           study: image_url(@info,'study_image'),\
	} do


= content_tag :div, id: 'staff-data',
        data: {user: for_vue(@user, [:course, :main, :about, :education])\
        } do

= content_tag :div, id: 'cert-images',
        data: {certificates: for_vue(@user.cert_images)\
	} do
