<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="style.css" rel="stylesheet" media="all"/>
  <title>vue calc test</title>
</head>
<body>
<div id="app">
  <span id="width">{{txt}} - {{idx}} - showChild:{{showChild}}</span>
  <div id="sphere">
    <img src="sphera_bold-01.svg" id="imgSphere" :style="sphereStyle" alt="сфера"/>
    <img :src="require('child.svg')" id="iconChild" :style="iconChildStyle" @mouseover="showChild = true" @mouseout="showChild = false"/>
    <transition-group name="fade" :duration="{ enter: 500, leave: 2000 }">
      <img src="ring.svg" id="childRing" :style="childRingStyle" :key="0" :class="childClass" v-show="idx===2 || showChild" @mouseover="showChild = true" @mouseout="showChild = false" />
      <img src="ring.svg" id="familyRing" :style="iconFamilyStyle" :key="1" class="item" v-show="idx===4 || showFamily" @mouseover="showChild = true" @mouseout="showChild = false"/>
      <span class="span-text" :key="10" :style="childTextStyle" v-show="idx===2 || showChild">Детская и подростковая психотерапия</span>
    </transition-group>

  </div>
</div>

<script src="vue.js"></script>
<script src="index.vue.js"></script>
</body>
</html>