/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.scss.
*/


#main-nav {
    height: 80px;
    display: block;
}

.logo {
    margin-left: 50px;
    width: 450px;
    float: left;
}

ul.main-nav {
    float: right;
}

