/*
 *= require_tree .
 *= require_self
 */

@import "common.scss";

.flex-card {
  display: flex;
  padding: 20px;
}

.flex-card img {
  max-width: 25%;
  object-fit: cover;
}

#main_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 600px;
}

body {
  font-family: 'Exo 2', cursive;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  color: $dark-color;
}

h1 {
  margin: 8px;
}

h3 {
  font-size: 20px;
  margin: 2px;
}

.ma-4 {
  padding: 16px;
}

.mr-4 {
  padding-right: 16px;
}

.ml-4 {
  padding-left: 16px;
}

.center {
  text-align: center;
}

.footer {
  margin: 30px 12px;
  display: flex;
  place-content: space-evenly;

  ul {
    margin: 0;
    padding-left: 0.3em;
    list-style-type: none;
    font-size: 14px;
    color: $main-color;

    li {
      display: list-item;
      line-height: 1em;
      height: 18px;
    }
  }
}

.social {
  min-width: 120px;
}

#sphere {
  width: 50%;
  margin: 80px auto;
  display: block;
}

.ring {
  width: 130px;
  height: 130px;
  left: 50%;
  position: absolute;
  margin-top: -55px;
  margin-left: -65px;
  z-index: 300;
  //opacity: 0;
}

.fade-in {
  //opacity: 1;
  transition: opacity 1s
}

.fade-in:hover {
  //opacity: 1;
  //transition: opacity 0.5s
}

//.family {
//  position: absolute;
//  left: 50%;
//  margin-top: -50px;
//  margin-left: -60px;
//  height: 120px;
//  width: 120px;
//  display: block;
//}
//
//.group {
//  margin-top: -150px;
//  position: absolute;
//  left: 50%;
//  margin-left: -60px;
//  height: 120px;
//  width: 120px;
//}

.item:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.fade-item {
  display: inline-block;
  margin-right: 10px;
  -webkit-transform: rotate(145deg);
  -moz-transform: rotate(145deg);
  -o-transform: rotate(145deg);
  transform: rotate(145deg);

  -webkit-transition-duration: 5s;
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
  transition-duration: 5s;
}

//
.fade {
  //-webkit-transform: rotate(180deg);
  //-moz-transform: rotate(180deg);
  //-o-transform: rotate(180deg);
  //transform: rotate(180deg);
  //-webkit-transition-duration: 3s;
  //-moz-transition-duration: 3s;
  //-o-transition-duration: 3s;
  //transition-duration: 3s;
}

.fade-enter-active, .fade-leave-active {
  transition: all 10s;
  -webkit-transform: rotate(145deg);
  -moz-transform: rotate(145deg);
  -o-transform: rotate(145deg);
  transform: rotate(145deg);

  -webkit-transition-duration: 5s;
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
  transition-duration: 5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
{
  transition: all 5s;
}

.fade-enter {
  //transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(1.2, 1.2, 1.2) rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);

  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.fade-leave-to {
  transform: scale3d(1.2, 1.2, 1.2);
}

.info-text {
  z-index: 201;
  align-items: center;
  text-align: center;
  display: inline-grid;
  left: 50%;
  position: absolute;
  font-size: 22px;
  color: $main-color;
}

.staff-name {
  z-index: 201;
  align-items: center;
  text-align: center;
  display: inline-grid;
  left: 50%;
  position: absolute;
  font-size: 14px;
  color: $main-color;
}

.staff-course {
  z-index: 201;
  align-items: center;
  text-align: center;
  display: inline-grid;
  left: 50%;
  position: absolute;
  font-size: 12px;
  color: $main-color;
}

.h3 {
  font-family: 'Exo 2', serif;
  font-size: 22px;
  margin-bottom: 12px !important;
}

.icon {
  height: 16px;
  width: 16px;
}

.icon-invert {
  filter: brightness(1000%);
}

.icon-20 {
  height: 28px;
  width: 28px;
}

.right {
  float: right;
}

.info-border {
  border: 2px solid #1a6c77;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.card-body ul {
  line-height: 0.8em;
}