.course-img {
  height: 48px;
  width: 48px !important;
  margin-top: -24px;
  margin-left: -16px;
}

.course-card .h3 {
  margin-left: 20px;
}

.courses svg:hover {
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
}