@import "common.scss";

#head {
  height: 60px;
  display: flex;
  justify-content: space-between;
  font-family: 'Poiret One', cursive;
}

.toolbar_items {
  height: 26px;
}

.logo {
  //margin-left: 50px;
  //width: 276px;
  float: left;
  display: table-cell;
}

.logo-flex {
  display: flex;
}

.logo-text {
  width: 120px;
  line-height: 1em;
  font-family: 'Poiret one', cursive;
  font-size: 28px;
  text-transform: lowercase;
  border-left: 2.5px solid #38678b;
  height: 50px;
  padding: 0 8px 16px 8px;
  margin: 10px;
}



//.logo {
//  //margin-left: 80px;
//  width: 450px;
//  float: left;
//}



