/* For Mobile */
@media screen and (max-width: 540px) {
  .about_card, .we_card, .footer_card {
    max-width: 95%;
    padding: 4px 5px 0 4px !important;
    margin: 20px auto !important;
    font-size: 14px !important;

    -webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.08);
  }

  p {
    margin-block-start: 0.5em !important;
    margin-block-end: .5em !important;
  }

  .about_card img, .we_card img, .footer_card img {
    margin: 8px 4px 0 4px !important;
  }

  .about_text {
    padding: 0 8px 0 8px !important;
  }

  .logo {
    max-width: 90%;
    margin-left: 10px !important;
  }

  .we_card_img {
    width: 90%
  }

  #main-nav .main-nav {
    margin-top: 0 !important;
    margin-right: 5px !important;
    padding-inline-start: 30px;

  }

  #main-nav {
    flex-direction: column;
  }

  #sphere_container #sphere {
    margin-top: 100px !important;
  }
}


@media screen and (max-width: 1200px) {
  .logo {
    max-width: 90%;
    margin-left: 10px !important;
  }

  .main-nav {
    margin-top: 10px !important;
    margin-right: 5px !important;
    padding-inline-start: 30px;
  }

  #sphere {
    margin: 30px auto !important;
  }

  .we_card_img {
    max-width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .about_card, .we_card, .footer_card {
    max-width: 1200px;
  }

}