@import "common.scss";



#main-nav {
  height: 80px;
  display: block;
  font-family: 'Poiret One', cursive;
  letter-spacing: .05em;
  font-weight: bold;
}

.logo {
  margin-left: 50px;
  width: 450px;
  float: left;
}

ul.main-nav {
  float: right;
}


.login-info {
  display: grid;
  grid-template-columns: 1fr 30px 30px;
  grid-column-gap: 8px;
  padding-top: 6px;
  line-height: 1;
  text-align: end;
  margin-right: 28px;
}

.login-info img {
  height: 24px;
}

.user_name {
  padding-top: 5px;
}

#login a img {
  width: 32px
}