@import "common.scss";

.staff-page {
  display: inline-grid;
}

.staff-list {
  position: absolute;
  display: flex;
  float: right;
  margin-top: -20px;
  right: 28px;
  img {
    margin-right: 8px;
  }
}


.staff_card {
  display: inline-block;
  min-width: 100%;
  background-color: white;
  margin: 20px auto 40px auto;
  -webkit-box-shadow: 7px 7px 3px 0 $shadow-color;
  -moz-box-shadow: 7px 7px 3px 0 $shadow-color;
  box-shadow: 7px 7px 3px 0 $shadow-color;
  border: 1px solid $main-color;
  border-radius: 0 0 4px 4px;
  font-size: 14px;
  color: #383434;
}

.staff_card .grid {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-column-gap: 20px;
  padding: 20px 20px 10px 20px;
}

.card-body {
  box-sizing: border-box;
  margin: 0 20px;
}

.card {
  grid-template-columns: 1fr;
  box-sizing: border-box;
  margin: 20px;
}

.staff-img {
  max-width: 100%;
}

//.staff-page
.staff-card-head {
  display: flow-root;
  box-sizing: border-box;
  color: white;
  background-color: $head-background-color;
  padding: 10px 20px;
  //margin-left: -1px;
  font-size: 16px;
  //border-radius: 4px 4px 0 0;

  .icon-20 {
    padding-top: 8px;
  }

  .h3 {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 4px !important;
    font-weight: 600;
  }

  .h4 {
    margin-top: -18px;
  }
}