/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


#main-nav {
    height: 80px;
    display: block;
}

.logo {
    margin-left: 50px;
    width: 450px;
    float: left;
}

ul.main-nav {
    float: right;
}

.span-text {
    color: #1a6c77;
    background: white;
    border: 1px solid #1a6c77;
    padding: 10px;
    border-radius: 8px;
}
