@import "common.scss";


.span-text {
  color: $main-color;
  background: white;
  border: 1px solid $main-color;
  padding: 10px;
  border-radius: 8px;
}



.about_card, .we_card, .footer_card {
  display: grid;
  background-color: white;
  padding: 20px 20px 30px 20px;
  margin: 40px auto;

  -webkit-box-shadow: 7px 7px 3px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 7px 7px 3px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 7px 7px 3px 0 rgba(0, 0, 0, 0.08);
  font-size: 16px;
  color: #383434;

  & img {
    margin: 13px 10px 0 22px;
  }
}



.footer_card {
  grid-template-columns: 1fr;
  border: 1px solid #eee;
}

.about_card {
  grid-template-columns: 1fr 436px;

}

.we_card {
  border: 1px solid #eee;
  grid-template-columns: 1fr 1fr;
}

.about_text.full {
  grid-column: 1 / -1;
  margin-top: 0;
  padding-top: 0;
}

.about_text {
  padding: 10px 20px 0 20px;

  & li {
    //float: left;
    margin-bottom: 4px;
  }
}

.card {
  background-color: white;
  padding: 40px 20px 30px 20px;
  margin: 40px auto;
  max-width: 1200px;
  -webkit-box-shadow: 7px 7px 3px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 7px 7px 3px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 7px 7px 3px 0 rgba(0, 0, 0, 0.08);
  align-content: center;
}

.child-right {
  display: flex;
  justify-content: flex-end;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.icons_card {
  & b, p {
    text-align: center;
    font-size: 24px;
    margin: 8px 40px;
  }

  & img {
    align-self: center;
    justify-self: center;
    width: 40%;
  }
}

.icons_card_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 76px 54px;
}

.icons_card_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px 76px;
  margin-top: 26px;

  & img {
    width: 25%;
  }
}
